/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* '*' Universal selector - selects every element on the page */
*{
    margin: 0; /* zero out the browser default settings */
    padding: 0; /* zero out the browser default settings */
    box-sizing: border-box; /* borders and padding no longer added */
}

/* Document parent element */
Body{
    font-family: "Lato", sans-serif; /* inherited by all child elelments */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* 1.7 times bigger than the predefined line height */
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh; /* 95% of the view height */
    background-image: linear-gradient(
        to right bottom,
        #7ed56fd8,
        #28b485d8),
    url(../img/hero.jpg); /* gradient (direction, color 1, color 2) --> image is below gradient*/
    background-size: cover; /* Fit the element inside of the parent box */
    background-position: top;
    position: relative; /* Parent element for the logo box positioning */

    clip-path: polygon( 0 0, 100% 0, 100% 80vh, 0 100%); /* Clip the container's shape */
}

.logo-box{
    position: absolute; /**/
    top: 40px; /* 40 pixels from the top inside parent (.header) element */
    left: 40px; /* 40 pixels from the left inside parent (.header) element */
}

.logo{
    height: 35px; /* width is automatic */
}

.text-box{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* position based on center of element */
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /* Fixes the animation jumpiness */
}

.heading-primary-main{
    display: block; /* make span a block level element (takes up the full width of its container) */
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft; /* Call on the custom animation */
    animation-duration: 1s;
    animation-timing-function: ease-out; /* Control the animation progression */
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
}

.heading-primary-sub{
    display: block; /* make span a block level element (takes up the full width of its container) */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.5px;

    animation: ease-out 1s moveInRight;
}

/* ------------------------------------ */
/* -------- Custom Animations --------- */
/* ------------------------------------ */
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px); /* Begin movement from right side of x-axis */
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0); /* End movement on original x-axis point */
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px); /* Begin movement from right side of x-axis */
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0); /* End movement on original x-axis point */
    }
}