// SECTION: partical sass file: Block-level elements, independent, reusable elements

.btn{

    &:link, &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem; /* ((15px))  ((15px))*/
        display: inline-block; /* Treat element as inline text within a block element */
        border-radius: 100px;
        position: relative;
        font-size: 1.6rem; /* ((16px)) */
        
        transition: all .2s;
    }
    
    &:hover{
        transform: translateY(-3px); /* Based on initial link state */
        box-shadow: 0 1rem 2rem $color-black-opacity; /* (x y blur color)  ((10px))  ((20px))*/
       
        &::after{
            transform: scaleX(1.5) scaleY(1.8);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-1px); /* Based on initial link state */
        box-shadow: 0 .5rem 1rem $color-black-opacity; /* (x y blur color)  ((5px))  ((10px))*/
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
        
        &::after{
            background-color: $color-white;
        }
    }
    
    /*  NOTE: This element will hide behind the original element (child of original)*/
    &::after{
        content: ""; /* Must be specified */
        display: inline-block; /* Must be specified */
        height: 100%;
        width: 100%;
        border-radius: 10rem; /* ((100px)) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        transition: all .4s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; /* Applies 0% keyframe before animation begins */
    }
    
}