// SECTION: partial sass file: Block-level elements, independent, reusable elements


.popup {

    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    opacity: 0; // Hide initially
    visibility: hidden; // Hide initially

    transition: all .3s;


    &:target { // The anchor element destination (popup)

        opacity: 1;
        visibility: visible;

    }

    &:target &__content {

        opacity: 1;
        transform: translate(-50%, -50%)  scale(1);

    }

    &__close {

        &:link, &:visited {

            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
            
        }

        &:hover {
            color: $color-primary;
        }

    }

    &__content {

        width: 75%;
        border-radius: $default-border-radius;
        box-shadow: 0 1rem 4rem $color-black-opacity;
        background-color: $color-white;
        overflow: hidden;

        @include absoluteCenter;

        display: table; // Styled like a table but not a table

        opacity: 0; // Initial State
        transform: translate(-50%, -50%)  scale(0);

        transition: all .5s .2s;
    }


    &__left {

        width: 33.3333%;
        display: table-cell; // Height will be defined here
        vertical-align: middle;
        
    }
    
    &__right {
        
        width: 66.666%; 
        display: table-cell; // Height will be defined here
        vertical-align: middle;
        padding: 3rem 4rem;

    }

    &__img {

        display: block;
        width: 100%;

    }

    &__text {

        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em (default) = 14px  --> current font size of the parent element
        -moz-column-rule: 1px solid $color-grey-light; // border for the table cell

        column-count: 2;
        column-gap: 4rem; //1em (default) = 14px  --> current font size of the parent element
        column-rule: 1px solid $color-grey-light; // border for the table cell

        hyphens: auto; // Hyphens on paragraph overflow text
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    
    }

}