// SECTION: Specific styling for the home page

.section-about {
    background-color: $color-grey-light-alt;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    transform: skewY(-7deg); // Make the background skewed from bottom let to top right
    margin-top: -10.7rem;

    background-image: linear-gradient(
        to right bottom,
        $color-primary-light-opacity,
        $color-primary-dark-opacity),
    url(../img/nat-4.jpg); /* gradient (direction, color 1, color 2) --> image is below gradient*/
    background-size: cover; /* Fit the element inside of the parent box */

    & > *{ // Select everything that is a direct child (in this case, the .row)
        transform: skewY(7deg); // Skew this child element back to original state
    }

}

.section-tours {
    background-color: $color-grey-light-alt;
    padding: 25rem 0 15rem 0;
    margin-top: -10.7rem;
}


.section-stories {

    padding: 15rem 0;
    position: relative;

}